<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/beans/context
		http://www.springframework.org/schema/beans/spring-context-4.2.xsd"
	default-init-method="init"
	default-destroy-method="destroy">

	<!-- <bean id="parentTriangle" class="code.springshape.Triangle">
		<property name="pointA" ref="pointA"></property>
	</bean>
	
	<bean id="childTriangle" class="code.springshape.Triangle" parent="parentTriangle">
		<property name="pointB" ref="pointB"></property>
	</bean>
	
	<bean id="childChildTriangle" class="code.springshape.Triangle" parent="childTriangle">
		<property name="pointC" ref="pointC"></property>
	</bean> -->
	
	<!-- <bean id="parentTriangle" class="code.springshape.Triangle" abstract="true">
		<property name="points">
			<list>
				<ref bean="pointA"/>
			</list>
		</property>
	</bean>
	
	<bean id="childTriangle" class="code.springshape.Triangle" parent="parentTriangle" abstract="true">
		<property name="points">
			<list merge="true">
				<ref bean="pointB"/>
			</list>
		</property>
	</bean>
	
	<bean id="childChildTriangle" class="code.springshape.Triangle" parent="childTriangle" init-method="myInit" destroy-method="myDestroy">
		<property name="points">
			<list merge="true">
				<ref bean="pointC"/>
			</list>
		</property>
	</bean>
	<bean id="triangle" class="code.springshape.Triangle" name="triangle-name" autowire="byName" scope="prototype"> -->
	
	<!-- 
		<property name="type" value="Equilateral"></property>
	-->
	<!-- 
		<constructor-arg name="type" value="Equilateral"></constructor-arg>
		<constructor-arg name="height" value="20"></constructor-arg>
	-->
	<!-- 
		<constructor-arg type="int" value="20"></constructor-arg>
	-->
	<!-- 
		<constructor-arg type="java.lang.String" value="20"></constructor-arg>
	-->
	<!--
		<constructor-arg index="0" value="Equilateral"></constructor-arg>
		<constructor-arg index="1" value="20"></constructor-arg>
	-->
	<!--
		<property name="pointA" ref="point1"></property>
		<property name="pointB">
		<bean class="code.springshape.Point">
			<property name="x" value="-20"></property>
			<property name="y" value="0"></property>
		</bean>
		</property>
		<property name="pointC">
		<bean class="code.springshape.Point">
			<property name="x" value="0"></property>
			<property name="y" value="20"></property>
		</bean>
		</property>
	-->
		<!-- <property name="points">
			<list>
				<ref bean="point1"/>
				<ref bean="point2"/>
				<ref bean="point3"/>
			</list>
		</property> -->
		<!-- <property name="pointA" ref="point1"></property>
		<property name="pointB" ref="point2"></property>
		<property name="pointC" ref="point3"></property>
	</bean> -->

	<!-- <bean id="point1" class="code.springshape.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="point2" class="code.springshape.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="point3" class="code.springshape.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean> -->
	<!-- <bean id="pointA" class="code.springshape.Point">
		<qualifier value="circleCenter"></qualifier>
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean> -->
	
	<bean id="pointA" class="code.springshape.Point">
		<qualifier value="circleCenter"></qualifier>
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<!-- <bean id="center" class="code.springshape.Point" scope="prototype">
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean> -->
	
	<!-- <bean id="pointB" class="code.springshape.Point">
		<property name="x" value="${pointB.pointX}"></property>
		<property name="y" value="${pointB.pointY}"></property>
	</bean>
	
	<bean id="pointC" class="code.springshape.Point">
		<property name="x" value="${pointC.pointX}"></property>
		<property name="y" value="${pointC.pointY}"></property>
	</bean> -->
	
	<bean id="pointB" class="code.springshape.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="pointC" class="code.springshape.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>
	
	<!-- <alias name="triangle" alias="triangle-alias"/>
	
	<bean class="code.springshape.DisplayNameBeanPostProcessor"></bean>
	
	<bean class="code.springshape.MyBeanFactoryPostProcessor"></bean> -->
	
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean> -->
	
	<bean id="shape" class="code.springshape.Circle">
		<!-- <property name="center" ref="pointA"></property> -->
	</bean>
	
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean> -->
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
</beans>
