<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <bean id="main" class="code.springinaction.aspectxml.Main">
        <property name="good" ref="good"/>
        <property name="bad" ref="bad"/>
    </bean>
    <bean id="audience" class="code.springinaction.aspectxml.Audience"/>
    <bean id="good" class="code.springinaction.aspectxml.GoodPerformance"/>
    <bean id="bad" class="code.springinaction.aspectxml.BadPerformance"/>
    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression="execution(** code.springinaction.aspectxml.Performance.perform(..))"/>
            <aop:before method="silentCellPhones" pointcut-ref="performance"/>
            <aop:before method="takingSeats" pointcut-ref="performance"/>
            <aop:after-returning method="applause" pointcut-ref="performance"/>
            <aop:after-throwing method="boo" pointcut-ref="performance"/>
            <aop:around method="watch" pointcut-ref="performance"/>
        </aop:aspect>
    </aop:config>
</beans>